/* Normalize */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 10 px */
}

/* MAIN */

.sidebar {
    background-color: rgb(190, 150, 150);
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
}

.header {
    background-color: rgb(156, 34, 34);
    grid-column: full-start / col-end 6;
}

.realtors {
    background-color: rgb(40, 153, 68);
    grid-column: col-start 7 / full-end;
}

.btn {
    background-color: rgb(175, 42, 42);
    color: #fff;
    border: none;
    border-radius: 0%;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all 1s;
}

.btn:hover {
    background-color: rgb(97, 76, 76);
}

.mb-sm {
    margin-bottom: 2rem;
}

.mb-md {
    margin-bottom: 3rem;
}

.mb-lg {
    margin-bottom: 4rem;
}

.mb-hg {
    margin-bottom: 8rem;
}

/* FEATURES */

.features {
    background-color: rgb(129, 126, 129);
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display: grid;
    /* grid-template-columns: repeat(3, 1fr); : unresponsive */
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start;
}

.feature__icon {
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
}

.feature__text {
    font-size: 1.7rem;
}

.feature h4 {
    font-size: 1.9rem;
}

.feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2rem;
}

/* STORY */

.story__pictures {
    background-color: rgb(157, 218, 207);
    grid-column: full-start / col-end 4;
    background-image: url(img/back.jpg);

    display: grid;

    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

.story__img--1 {
    width: 100%;
    grid-row: 2 / 6;
    grid-column: 2 / 6;
    box-shadow: 0 2rem 5rem rgba(#000 0.1);
}

.story__img--2 {
    width: 115%;
    grid-row: 4 / 6;
    grid-column: 4 / 7;
    z-index: 20;
}

.story__content {
    background-color: rgb(165, 120, 129);
    grid-column: col-start 5 / full-end;

    padding: 6rem 8vw;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; */

    display: grid;
    align-content: center;
    justify-items: start;
}

.story__text {
    margin-bottom: 4rem;
}

/* HOMES */

.homes {
    grid-column: center-start / center-end;
    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
}

.home {
    background-color: rgb(107, 89, 89);
}

.homes .gallery {
    background-color: rgb(150, 149, 71);
    grid-column: full-start / full-end;
}

.footer {
    background-color: rgb(210, 141, 219);
    grid-column: full-start / full-end;
}

/* Grid */

/* [center-start]/[col-start] : the beginning of the centered 8 grid columns */

.container {
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
        [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
        [center-start] repeat(
            8,
            [col-start] minmax(min-content, 14rem) [col-end]
        )
        [center-end] 1fr [full-end];
}
